.header {
  background: #111;

  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
}

.header img{
  width: 5%;
  padding-left: 20px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  position: relative;
  max-width: 1200px;
  justify-content: right;
  margin-left: 550px;
}

.menu a:hover {
  font-size: 20px;
  font-weight: 600;
   color: #FCC5E3;
}

.menu a {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3;
  padding: 10px 10px;
  color: #fff;
}

.banner img{
  width: 16000px;
}