.docinhos-valores h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background:#fff ;
    height: 80px;
    color: #111;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 80px;
    margin-left: -30px;
    text-transform: uppercase;
}

.preco{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px 20px;
  border-radius: 20px;
  position: relative;
  background: #676767;
  font-size:  20px;
  text-align: left;
  color: #e0e0e0;
  margin-top: 40px;
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.docinhos-valores h1{
  grid-column: 1/-1;
}
 li{
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 20px;
 }
 span{
  margin-left: 20px;
 }

 .docinhos-valores span::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 100px;
  margin-right: 8px;
  background: #FCC5E3;
  transition: width 0.2s;
 }

.grid3margem {
  margin-bottom: 40px;
}

.titulo {
  margin-bottom: -40px;
  margin-top: 60px;
}